APP = local
PORT = 3001

DB_DIALECT = postgres
DB_HOST = localhost
DB_PORT = 5432
DB_NAME = blogsqdbdev
DB_USER = postgres
DB_PASSWORD = postgres

JWT_ENCRYPTION = wfeghrtyuilgfe
JWT_EXPIRATION = 1800000
REFRESH_TOKEN_EXPIRATION = 1800000
SECRET_KEY = "secret key"

GEMINI_API_KEY=fewferfvbhej23r24423j